<div class="container">
  <form (ngSubmit)="login(f)" #f="ngForm">

    <div class="form-group">
      <label for="emailInput">Email address</label>
      <input email type="email" class="form-control" id="emailInput" ngModel name="email" #email="ngModel">
      <span class="red" [hidden]="email.untouched || email.valid">Please enter a valid email</span>
    </div>

    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input type="password" class="form-control" id="passwordInput" ngModel name="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
