<div>
    <div class="d-flex justify-content-between mb-4">
    <h3>Rice and Dodo</h3>
    
    <div>
    <button class="btn btn-success mr-2">Edit</button>
    <button class="btn btn-danger">Delete</button>
    </div>
    </div>
    
    <p>
    My favorite food
    </p>
    
    <img src="assets/photo.jpg" class="img-fluid img-thumbnail"/>
    
    <div class="mt-5">
    <h4 class="mb-3">Ingredients</h4>
    
    <ul class="list-group">
    <li class="list-group-item">Rice - 1 bag</li>
    <li class="list-group-item">Plantain - 5 pcs</li>
    </ul>
    </div>
   </div>